@model IEnumerable<ngo_webapp.Models.Entities.Blog>;

@{
	ViewData["Title"] = "Blog";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<style>
	.table thead tr th{ color:black},
	.table tbody tr td{ color:black}
</style>

<h1>Index</h1>

<p>
	<a asp-action="Create" class="btn btn-success">Create New</a>

</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Content)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreationDate)
			</th>

			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Content)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreationDate)
				</td>
				<td>
					<a href="@Url.Action("Update","Blog", new{id=item.BlogId})" class="btn btn-info">Edit</a> |
					<a href="@Url.Action("Delete","Blog", new{id=item.BlogId})" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>