@model IEnumerable<ngo_webapp.Models.Entities.Blog>

@{
	ViewData["Title"] = "Blogs";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
	<div class="card-header">
		<h4 class="card-title">Blog List</h4>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table student-data-table m-t-20">
				<thead>
					<tr>
						th*5
						@* Thay số rồi tab sẽ tự generate thẻ th *@
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.</td>
							<td>@item.</td>
							<td>@item.</td>
							<td>@item.</td>
							<td>@item.</td>
							<td>@item.</td>
							<td><button class="btn btn-outline-primary" asp-action="Update" asp-route-id="@item.BlogId">Edit</button></td>
							<td><button class="btn btn-outline-danger ms-2" asp-action="Delete" asp-route-id="@item.BlogId">Delete</button></td>
						</tr>
					}
				</tbody>
			</table>
			<div><button class="btn btn-outline-success" asp-action="Create">Create</button></div>
		</div>
	</div>
</div>
