@model Tuple<ngo_webapp.Models.BlogViewModel, IEnumerable<ngo_webapp.Models.Entities.Comment>>
@{
	Layout = "_LayoutDonation";
}

@* @foreach (var blog in Model)
{
    <div>
        <h2>@blog.Title</h2>
        <p>@blog.Content</p>
        <p>Date: @blog.CreationDate.ToShortDateString()</p>
    </div>
} *@

<!--? Hero Start -->
<div class="slider-area2">
	<div class="slider-height2 d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="hero-cap hero-cap2 pt-20 text-center">
						<h2>Blog Details</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Hero End -->
<!--? Blog Area Start -->
<section class="blog_area single-post-area section-padding">
	<div class="container">
		<div class="row">
				<div class="col-lg-8 posts-list">
					<div class="single-post">
						<div class="feature-img">
							<img class="img-fluid" src="~/asset/img/blog/single_blog_1.png" alt="">
						</div>
					<div class="blog_details">
						<h2 style="color: #2d2d2d; font-size:50px">
							@Model.Item1.Title
						</h2>
						<ul class="blog-info-link mt-3 mb-4">
							<li><a href="#"><i class="fa fa-clock"></i> @Model.Item1.CreationDate.ToShortDateString()</a></li>
						</ul>
						<p class="excert">
							@Model.Item1.Content
						</p>
					</div>
				</div>
					<div class="comments-area">
						<h4>@Model.Item2.Count() Comments</h4>
						@foreach (var comment in Model.Item2)
						{
							<div class="comment-list">
								<div class="single-comment justify-content-between d-flex">
									<div class="user justify-content-between d-flex">
										<div class="thumb">
											<img src="~/asset/img/blog/comment_1.png" alt="">
										</div>
										<div class="desc">
											<p class="comment">
												@comment.Content
											</p>
											<div class="d-flex justify-content-between">
										
													<p class="date">@comment.CreationDate.ToString("MMMM d, yyyy") </p>
												</div>
											</div>
										</div>
									</div>
								</div>
						}
					</div>
				<div class="comment-form">
					<h4>Leave a Reply</h4>
					<form asp-action="AddComment" asp-controller="Home" method="post">
						<input type="hidden" name="BlogId" value="@Model.Item1.BlogId" />
						<div class="form-group">
							<textarea class="form-control w-100" name="Content" cols="30" rows="9" placeholder="Write Comment"></textarea>
						</div>
						<button type="submit" class="button button-contactForm btn_1 boxed-btn">Post Comment</button>
					</form>

				</div>
			</div>
					
		</div>
	</div>
</section>
<!-- Blog Area End -->
	   </main>
<footer>
	<div class="footer-wrapper section-bg2" data-background="~/asset/img/gallery/footer_bg.png">
		<!-- Footer Top-->
		<div class="footer-area footer-padding">
			<div class="container">
				<div class="row d-flex justify-content-between">
					<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
						<div class="single-footer-caption mb-50">
							<div class="single-footer-caption mb-30">
								<div class="footer-tittle">
									<div class="footer-logo mb-20">
										<a href="index.html"><img src="~/asset/img/logo/logo2_footer.png" alt=""></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
						<div class="single-footer-caption mb-50">
							<div class="footer-tittle">
								<h4>Contact Info</h4>
								<ul>
									<li>
										<p>Address :Your address goes here, your demo address.</p>
									</li>
									<li><a href="#">Phone : +8880 44338899</a></li>
									<li><a href="#">Email : info@colorlib.com</a></li>
								</ul>
							</div>

						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
						<div class="single-footer-caption mb-50">
							<div class="footer-tittle">
								<h4>Important Link</h4>
								<ul>
									<li><a href="#"> View Project</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Testimonial</a></li>
									<li><a href="#">Proparties</a></li>
									<li><a href="#">Support</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
						<div class="single-footer-caption mb-50">
							<div class="footer-tittle">
								<h4>Newsletter</h4>
								<div class="footer-pera footer-pera2">
									<p>Heaven fruitful doesn't over lesser in days. Appear creeping.</p>
								</div>
								<!-- Form -->
								<div class="footer-form">
									<div id="mc_embed_signup">
										<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
											  method="get" class="subscribe_form relative mail_part">
											<input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
												   class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
												   onblur="this.placeholder = ' Email Address '">
											<div class="form-icon">
												<button type="submit" name="submit" id="newsletter-submit"
														class="email_icon newsletter-submit button-contactForm">
													<img src="~/asset/img/gallery/form.png" alt="">
												</button>
											</div>
											<div class="mt-10 info"></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer-bottom -->
		<div class="footer-bottom-area">
			<div class="container">
				<div class="footer-border">
					<div class="row d-flex justify-content-between align-items-center">
						<div class="col-xl-10 col-lg-9 ">
							<div class="footer-copy-right">
								<p>
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
									Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</p>
							</div>
						</div>
						<div class="col-xl-2 col-lg-3">
							<div class="footer-social f-right">
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
								<a href="#"><i class="fas fa-globe"></i></a>
								<a href="#"><i class="fab fa-behance"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Scroll Up -->
<div id="back-top">
	<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>