
﻿@model Tuple<ngo_webapp.Models.BlogViewModel, IEnumerable<ngo_webapp.Models.Entities.Comment>>

@{
	Layout = "_LayoutDonation";
}

<!--? Hero Start -->
<div class="slider-area2">
	<div class="slider-height2 d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="hero-cap hero-cap2 pt-20 text-center">
						<h2>Blog Details</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Hero End -->
<!--? Blog Area Start -->
<section class="blog_area single-post-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 posts-list">
				<div class="single-post">
					<div class="feature-img">
						<img class="img-fluid" src="~/asset/img/blog/single_blog_1.png" alt="">
					</div>
					<div class="blog_details">
						<h2 style="color: #2d2d2d; font-size:50px">
							@Model.Item1.Title
						</h2>
						<ul class="blog-info-link mt-3 mb-4">
							<li><a href="#"><i class="fa fa-clock"></i> @Model.Item1.CreationDate.ToShortDateString()</a></li>
						</ul>
						<p class="excert">
							@Model.Item1.Content
						</p>
					</div>
				</div>
				<div class="comments-area">
					<h4>@Model.Item2.Count() Comments</h4>
					@foreach (var comment in Model.Item2)
					{
						<div class="comment-list">
							<div class="single-comment justify-content-between d-flex">
								<div class="user justify-content-between d-flex">
									<div class="thumb">
										<img src="~/Images/default.jpg" alt="">
									</div>
									<div class="desc">
										<p class="comment">
											@comment.Content
										</p>
										<div class="d-flex justify-content-between">

											<p class="date">@comment.CreationDate.ToString("MMMM d, yyyy") </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
				<div class="comment-form">
					<h4>Leave a Reply</h4>
					<form asp-action="AddComment" asp-controller="Home" method="post">
						<input type="hidden" name="BlogId" value="@Model.Item1.BlogId" />
						<div class="form-group">
							<textarea class="form-control w-100" name="Content" cols="30" rows="9" placeholder="Write Comment"></textarea>
						</div>
						<button type="submit" class="button button-contactForm btn_1 boxed-btn">Post Comment</button>
					</form>

				</div>
			</div>

		</div>
	</div>
</section>
<!-- Blog Area End -->
	   </main>
<!-- Scroll Up -->
<div id="back-top">
	<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>