@model IEnumerable<ngo_webapp.Models.Entities.Appeal>
@{
	Layout = "_LayoutDonation";
}

@if (TempData["Error"] != null)
{
	<div class="alert alert-danger">
		@TempData["Error"]
	</div>
}


@foreach (var appeal in Model)
{
	<div>
		<h2>@appeal.AppealsName</h2>
		<p>@appeal.Description</p>
		<p>Organization: @appeal.Organization</p>

		@{
			decimal totalDonations = appeal.Donations.Sum(d => d.Amount);
			string status = totalDonations >= appeal.Amount ? " (Ended)" : "";
			string donationInfo = $"Amount Earned: {totalDonations:N2} / Amount Needed: {appeal.Amount:N2}{status}";
		}

		<p>@donationInfo</p>
		<a href="@Url.Action("BlogDetail", "Home", new { appealId = appeal.AppealsId })" class="btn btn-info">View Blog</a>

		<a href="@Url.Action("Donate", "Home", new {appealId = appeal.AppealsId})" class="genric-btn info-border circle">Donate</a>

			<p>End Date: @appeal.EndDate.ToShortDateString()</p>
	</div>
}