@model IEnumerable<ngo_webapp.Models.Entities.Appeal>;
@{
	Layout = "_LayoutDonation";
}

@if (TempData["Error"] != null)
{
	<div class="alert alert-danger">
		@TempData["Error"]
	</div>
}


@foreach (var appeal in Model)
{
	<div>
		<h2>@appeal.AppealsName</h2>
		<p>@appeal.Description</p>
		<p>Organization: @appeal.Organization</p>

		@{
			decimal totalDonations = appeal.Donations.Sum(d => d.Amount);
			string status = totalDonations >= appeal.Amount ? " (Ended)" : "";
			string donationInfo = $"Amount Earned: {totalDonations:N2} / Amount Needed: {appeal.Amount:N2}{status}";
		}

		<p>@donationInfo</p>
		<a href="@Url.Action("BlogDetail", "Home", new { appealId = appeal.AppealsId })" class="btn btn-info">View Blog</a>

		<a href="@Url.Action("Donate", "Home", new {appealId = appeal.AppealsId})" class="genric-btn info-border circle">Donate</a>

			<p>End Date: @appeal.EndDate.ToShortDateString()</p>
	</div>
}
<!-- slider Area Start-->
<div class="slider-area">
	<div class="slider-active">
		<!-- Single Slider -->
		<div class="single-slider slider-height d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
						<div class="hero__caption">
							<h1 data-animation="fadeInUp" data-delay=".6s">Our Helping to<br> the world.</h1>
							<P data-animation="fadeInUp" data-delay=".8s">Onsectetur adipiscing elit, sed do eiusmod tempor incididunt ut bore et dolore magnt, sed do eiusmod.</P>
							<!-- Hero-btn -->
							<div class="hero__btn">
								<a href="#donate" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Donate</a>
								<a href="#donate" class="cal-btn ml-15" data-animation="fadeInRight" data-delay="1.0s">
									<i class="flaticon-null"></i>
									<p>+12 1325 41</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Single Slider -->
		<div class="single-slider slider-height d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
						<div class="hero__caption">
							<h1 data-animation="fadeInUp" data-delay=".6s">Our Helping to<br> the world.</h1>
							<P data-animation="fadeInUp" data-delay=".8s">Onsectetur adipiscing elit, sed do eiusmod tempor incididunt ut bore et dolore magnt, sed do eiusmod.</P>
							<!-- Hero-btn -->
							<div class="hero__btn">
								<a href="industries.html" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Donate</a>
								<a href="industries.html" class="cal-btn ml-15" data-animation="fadeInRight" data-delay="1.0s">
									<i class="flaticon-null"></i>
									<p>+12 1325 41</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- slider Area End-->
<!--? Services Area Start -->
<div class="service-area section-padding30">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
				<!-- Section Tittle -->
				<div class="section-tittle text-center mb-80">
					<span>What we are doing</span>
					<h2>We Are In A Mission To Help The Helpless</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="single-cat text-center mb-50">
					<div class="cat-icon">
						<span class="flaticon-null-1"></span>
					</div>
					<div class="cat-cap">
						<h5><a href="services.html">Clean Water</a></h5>
						<p>The sea freight service has grown conside rably in recent years. We spend timetting to know your processes to.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="single-cat active text-center mb-50">
					<div class="cat-icon">
						<span class="flaticon-think"></span>
					</div>
					<div class="cat-cap">
						<h5><a href="services.html">Clean Water</a></h5>
						<p>The sea freight service has grown conside rably in recent years. We spend timetting to know your processes to.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="single-cat text-center mb-50">
					<div class="cat-icon">
						<span class="flaticon-gear"></span>
					</div>
					<div class="cat-cap">
						<h5><a href="services.html">Clean Water</a></h5>
						<p>The sea freight service has grown conside rably in recent years. We spend timetting to know your processes to.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Services Area End -->
<!--? About Law Start-->
<section class="about-low-area section-padding2">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-10">
				<div class="about-caption mb-50">
					<!-- Section Tittle -->
					<div class="section-tittle mb-35">
						<span>About our foundetion</span>
						<h2>We Are In A Mission To  Help Helpless</h2>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,mod tempor incididunt ut labore et dolore magna aliqua. Utnixm, quis nostrud exercitation ullamc.</p>
					<p>Lorem ipvsum dolor sit amext, consectetur adipisicing elit, smod tempor incididunt ut labore et dolore.</p>
				</div>
				<a href="#about-us" class="btn">About US</a>
			</div>
			<div class="col-lg-6 col-md-12">
				<!-- about-img -->
				<div class="about-img ">
					<div class="about-font-img d-none d-lg-block">
						<img src="assets/img/gallery/about2.png" alt="">
					</div>
					<div class="about-back-img ">
						<img src="assets/img/gallery/about1.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- About Law End-->
<!-- Our Cases Start -->
<div class="our-cases-area section-padding30" id="donate">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
				<!-- Section Tittle -->
				<div class="section-tittle text-center mb-80">
					<span>Our Cases you can see</span>
					<h2>Explore our latest causes that we works </h2>
				</div>
			</div>
		</div>

		<div class="row">
			@foreach (var appeal in Model)
			{
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="single-cases mb-40">
						<div class="cases-img">
							<img src="assets/img/gallery/case1.png" alt="">
						</div>
						<div class="cases-caption">
							<h3 style="display:inline-flex;">
								<a href="@Url.Action("BlogDetail", "Home", new { appealId = appeal.AppealsId })">@appeal.AppealsName</a>
								<p style="padding-left:10rem;"><b style="color:red">End:</b>@appeal.EndDate.ToShortDateString()</p>
							</h3>
							<h4 style="margin-top:-3rem;color:black">Description:<p style="color:black">@appeal.Description</p></h4>
							
							<div>
								@{
									decimal totalDonations = appeal.Donations.Sum(d => d.Amount);
									string status = totalDonations >= appeal.Amount ? " (Ended)" : "";
									string Raised = $"{totalDonations:N2}";
									string Goal = $"{appeal.Amount:N2}{status}";
								}
							</div>

							@if (totalDonations < appeal.Amount)
							{
								<form asp-action="Donate" method="post" style="display:inline-flex; padding-bottom:2rem;">
									<input type="hidden" name="appealId" value="@appeal.AppealsId" />
									<input type="number" name="amount" min="1" step="any" placeholder="Enter amount" required style="border: 3px solid #ccc; background-color: #f9f9f9; font-size: 16px; border-radius:2px;text-align:center;height:3rem;" />
									<button type="submit" class="genric-btn info-border circle" style="font-size:16px; margin-left:2rem; margin-top:-5px">Donate</button>
								</form>
							}
							else
							{
								<p>This appeal has reached its funding goal and is no longer accepting donations.</p>
							}
							<!-- / progress -->
							<div class="prices d-flex justify-content-between">
								<p>Raised:<span>@Raised$</span></p>
								<p>Goal:<span>@Goal$</span></p>
							</div>
						</div>
					</div>
				</div>
			}
		</div>

	</div>
</div>

<!-- Our Cases End -->
<!-- Featured_job_start -->
<section class="featured-job-area section-padding30 section-bg2" data-background="/assets/img/gallery/section_bg03.png">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
				<!-- Section Tittle -->
				<div class="section-tittle text-center mb-80">
					<span>What we are boing</span>
					<h2>We arrange many social events for charity donations</h2>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-9 col-md-12">
				<!-- single-job-content -->
				<div class="single-job-items mb-30">
					<div class="job-items">
						<div class="company-img">
							<a href="#"><img src="assets/img/gallery/socialEvents1.png" alt=""></a>
						</div>
						<div class="job-tittle">
							<a href="#"><h4>Donation is Hope</h4></a>
							<ul>
								<li><i class="far fa-clock"></i>8:30 - 9:30am</li>
								<li><i class="fas fa-sort-amount-down"></i>18.01.2021</li>
								<li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-9 col-md-12">
				<!-- single-job-content -->
				<div class="single-job-items mb-30">
					<div class="job-items">
						<div class="company-img">
							<a href="#"><img src="assets/img/gallery/socialEvents2.png" alt=""></a>
						</div>
						<div class="job-tittle">
							<a href="#"><h4>A hand for Children</h4></a>
							<ul>
								<li><i class="far fa-clock"></i>8:30 - 9:30am</li>
								<li><i class="fas fa-sort-amount-down"></i>18.01.2021</li>
								<li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-9 col-md-12">
				<!-- single-job-content -->
				<div class="single-job-items mb-30">
					<div class="job-items">
						<div class="company-img">
							<a href="#"><img src="assets/img/gallery/socialEvents3.png" alt=""></a>
						</div>
						<div class="job-tittle">
							<a href="#"><h4>Help for Children</h4></a>
							<ul>
								<li><i class="far fa-clock"></i>8:30 - 9:30am</li>
								<li><i class="fas fa-sort-amount-down"></i>18.01.2021</li>
								<li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Featured_job_end -->
<!--? Team Ara Start -->
<div class="team-area pt-160 pb-160" id="about-us">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
				<!-- Section Tittle -->
				<div class="section-tittle section-tittle2 text-center mb-70">
					<span>What we are doing</span>
					<h2>Our Expert Volunteer Alwyes ready</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-team mb-30">
					<div class="team-img">
						<img src="assets/img/gallery/team1.png" alt="">
						<!-- Blog Social -->
						<ul class="team-social">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fas fa-globe"></i></a></li>
						</ul>
					</div>
					<div class="team-caption">
						<h3><a href="instructor.html">Quoc Ky</a></h3>
						<p>Worker</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-team mb-30">
					<div class="team-img">
						<img src="assets/img/gallery/team2.png" alt="">
						<!-- Blog Social -->
						<ul class="team-social">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fas fa-globe"></i></a></li>
						</ul>
					</div>
					<div class="team-caption">
						<h3><a href="instructor.html">Minh Hieu</a></h3>
						<p>ToiDaDen</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-team mb-30">
					<div class="team-img">
						<img src="assets/img/gallery/team3.png" alt="">
						<!-- Blog Social -->
						<ul class="team-social">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fas fa-globe"></i></a></li>
						</ul>
					</div>
					<div class="team-caption">
						<h3><a href="instructor.html">Hoang Pich</a></h3>
						<p>TrumDaDen</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-team mb-30">
					<div class="team-img">
						<img src="assets/img/gallery/team4.png" alt="">
						<!-- Blog Social -->
						<ul class="team-social">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fas fa-globe"></i></a></li>
						</ul>
					</div>
					<div class="team-caption">
						<h3><a href="instructor.html">Quang Thai</a></h3>
						<p>Police Officer</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Team Ara End -->
<!-- Want To work -->
<section class="wantToWork-area ">
	<div class="container">
		<div class="wants-wrapper w-padding2  section-bg" data-background="assets/img/gallery/section_bg01.png">
			<div class="row align-items-center justify-content-between">
				<div class="col-xl-5 col-lg-9 col-md-8">
					<div class="wantToWork-caption wantToWork-caption2">
						<h2>Lets Chenge The World With Humanity</h2>
					</div>
				</div>
				<div class="col-xl-2 col-lg-3 col-md-4">
					<a href="#" class="btn white-btn f-right sm-left">Become A Volunteer</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Want To work End -->
<!--? Testimonial Start -->
<div class="testimonial-area testimonial-padding">
	<div class="container">
		<!-- Testimonial contents -->
		<div class="row d-flex justify-content-center">
			<div class="col-xl-8 col-lg-8 col-md-10">
				<div class="h1-testimonial-active dot-style">
					<!-- Single Testimonial -->
					<div class="single-testimonial text-center">
						<div class="testimonial-caption ">
							<!-- founder -->
							<div class="testimonial-founder">
								<div class="founder-img mb-40">
									<img src="assets/img/gallery/testimonial.png" alt="">
									<span>Margaret Lawson</span>
									<p>Creative Director</p>
								</div>
							</div>
							<div class="testimonial-top-cap">
								<p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
							</div>
						</div>
					</div>
					<!-- Single Testimonial -->
					<div class="single-testimonial text-center">
						<div class="testimonial-caption ">
							<!-- founder -->
							<div class="testimonial-founder">
								<div class="founder-img mb-40">
									<img src="assets/img/gallery/testimonial.png" alt="">
									<span>Margaret Lawson</span>
									<p>Creative Director</p>
								</div>
							</div>
							<div class="testimonial-top-cap">
								<p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
							</div>
						</div>
					</div>
					<!-- Single Testimonial -->
					<div class="single-testimonial text-center">
						<div class="testimonial-caption ">
							<!-- founder -->
							<div class="testimonial-founder">
								<div class="founder-img mb-40">
									<img src="assets/img/gallery/testimonial.png" alt="">
									<span>Margaret Lawson</span>
									<p>Creative Director</p>
								</div>
							</div>
							<div class="testimonial-top-cap">
								<p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Testimonial End -->
<!--? Blog Area Start -->
<section class="home-blog-area section-padding30">
	<div class="container">
		<!-- Section Tittle -->
		<div class="row justify-content-center">
			<div class="col-xl-5 col-lg-6 col-md-9 col-sm-10">
				<div class="section-tittle text-center mb-90">
					<span>Our recent blog</span>
					<h2>Latest News from our recent blog</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6">
				<div class="home-blog-single mb-30">
					<div class="blog-img-cap">
						<div class="blog-img">
							<img src="assets/img/gallery/home-blog1.png" alt="">
							<!-- Blog date -->
							<div class="blog-date text-center">
								<span>24</span>
								<p>Now</p>
							</div>
						</div>
						<div class="blog-cap">
							<p>Creative derector</p>
							<h3><a href="blog_details.html">Footprints in Time is perfect House in Kurashiki</a></h3>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6">
				<div class="home-blog-single mb-30">
					<div class="blog-img-cap">
						<div class="blog-img">
							<img src="assets/img/gallery/home-blog2.png" alt="">
							<!-- Blog date -->
							<div class="blog-date text-center">
								<span>24</span>
								<p>Now</p>
							</div>
						</div>
						<div class="blog-cap">
							<p>Creative derector</p>
							<h3><a href="blog_details.html">Footprints in Time is perfect House in Kurashiki</a></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Blog Area End -->
<!--? Count Down Start -->
<div class="count-down-area pt-25 section-bg" data-background="assets/img/gallery/section_bg02.png">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12 col-md-12">
				<div class="count-down-wrapper">
					<div class="row justify-content-between">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<!-- Counter Up -->
							<div class="single-counter text-center">
								<span class="counter color-green">6,200</span>
								<span class="plus">+</span>
								<p class="color-green">Donation</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<!-- Counter Up -->
							<div class="single-counter text-center">
								<span class="counter color-green">80</span>
								<span class="plus">+</span>
								<p class="color-green">Fund Raised</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<!-- Counter Up -->
							<div class="single-counter text-center">
								<span class="counter color-green">256</span>
								<span class="plus">+</span>
								<p class="color-green">Donation</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<!-- Counter Up -->
							<div class="single-counter text-center">
								<span class="counter color-green">256</span>
								<span class="plus">+</span>
								<p class="color-green">Donation</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
