@model IEnumerable<ngo_webapp.Models.Entities.Appeal>

@{
	ViewData["Title"] = "Events";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
	<div class="card-header">
		<h4 class="card-title">Events List</h4>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table student-data-table m-t-20">
				<thead>
					<tr>
						<th>ID</th>
						<th>Event Name</th>
						<th>Organization</th>
						<th>Description</th>
						<th>Create Date</th>
						<th>End Date</th>
						<th>Donation Limit</th>
						<th>Status</th>
						<th>Images</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.AppealsId</td>
							<td>@item.AppealsName</td>
							<td>@item.Organization</td>
							<td>@item.Description</td>
							<td>@item.CreationDate</td>
							<td>@item.EndDate</td>
							<td>@item.Amount</td>
							<td>@item.Status</td>
							<td>@item.AppealsImage</td>
							<td><a class="btn btn-outline-primary" asp-controller="Appeals" asp-action="Update" asp-route-id="@item.AppealsId">Edit</a></td>
							<td><a class="btn btn-outline-danger ms-2" asp-controller="Appeals" asp-action="Delete" asp-route-id="@item.AppealsId">Delete</a></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div><a class="btn btn-outline-success" asp-controller="Appeals" asp-action="Create">Create</a></div>
	</div>
</div>